@page
@model MBS.Razor.Pages.AdminPage.MeetingPage.MemberPage.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>This is Meeting Member Index Page</h1>
</div>
</body>
</html>