@page
@using MBS.Services.Utils
@model MBS.Razor.Pages.LoginGoogle

@{
    Layout = "Shared/_Layout";
}

@{
    // var apiResult = await WebUtils.CallApiAsync();
    // var jsonResponse = apiResult.RootElement;
}

<h2>API Response</h2>
<pre>
@* @jsonResponse.ToString() *@
</pre>
