@page
@model MBS.Razor.Pages.RegisterModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MBS - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form method="post" class="user">

                            <div class="form-group">

                                <input placeholder="Enter Email Address..." class="form-control form-control-user" type="email" asp-for="RegisterRequest.Email"/>
                                <span class="text-danger" asp-validation-for="RegisterRequest.Email"></span>
                            </div>

                            <div class="form-group">

                                <input placeholder="Enter Password..." class="form-control form-control-user" type="password" asp-for="RegisterRequest.Password"/>
                                <span class="text-danger" asp-validation-for="RegisterRequest.Password"></span>
                            </div>

                            <div class="form-group">

                                <input placeholder="Enter Full Name..." class="form-control form-control-user" type="text" asp-for="RegisterRequest.FullName"/>
                                <span class="text-danger" asp-validation-for="RegisterRequest.FullName"></span>
                            </div>

                            <div class="form-group">

                                <select style="font-size: .8rem; height: 48px" class="form-control rounded-pill" asp-for="RegisterRequest.Gender">
                                    <option selected disabled>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="text-danger" asp-validation-for="RegisterRequest.Gender"></span>
                            </div>

                            <div class="form-group">
                                <select style="font-size: .8rem; height: 48px" class="form-control rounded-pill" asp-for="RegisterRequest.Role">
                                    <option disabled selected value="">Select Role</option>
                                    <option value="Student">Student</option>
                                    <option value="Mentor">Mentor</option>
                                </select>
                                <span class="text-danger" asp-validation-for="RegisterRequest.Role"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>

                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" asp-page="@RouteEndpoints.Login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>