@page
@model MBS.Razor.Pages.AdminPage.UserPage.StudentPage.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    This is User Student Index Page
</div>
</body>
</html>