@page
@model MBS.Razor.Pages.MentorPage.GroupPage.Index

@{
    Layout = "Shared/_LayoutMentor";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>This is Mentor Group Page</h1>
</div>
</body>
</html>