@page
@model MBS.Razor.Pages.AdminPage.MajorPage.Index

@{
    Layout = "Shared/_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>This is Major Index Page</h1>
</div>
</body>
</html>