@page
@model MBS.Razor.Pages.StudentPage.Index

@{
    Layout = "Shared/_LayoutStudent";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>This is Student Index Page</h1>
</div>
</body>
</html>