@page
@model MBS.Razor.Pages.AdminPage.SkillPage.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>This is Skill Index Page</h1>
</div>
</body>
</html>