@page
@using MBS.Razor.Pages.AdminPage.MentorPage
@model Index

@{
    Layout = "Shared/_LayoutAdmin";
}

<div class="row h-100">
    <div class="col-lg-8 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title mb-4">Mentors</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Assigned</th>
                            <th scope="col">Points</th>
                            <th scope="col">Avatar</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Elite Admin</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Sunil Joshi</p>
                                <small class="text-muted">Web Designer</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <span class="badge bg-success text-white">Active</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>MedicalPro WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Christopher Jamil</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-success text-white">Active</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Hosting Press HTML</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Nirav Joshi</p>
                                <small class="text-muted">Frontend Engineer</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-success text-white">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Real Homes WP Theme</td>
                            <td>HostingPressHTML@gmail.com</td>
                            <td>
                                <p class="mb-0 fw-bold">Andrew McDownland</p>
                                <small class="text-muted">Project Manager</small>
                            </td>
                            <td>150</td>
                            <td>
                                <div class="dropdown no-arrow text-center">
                                    <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-solid fa-image"></i>
                                    </a>
                                    <!-- Dropdown - Alerts -->
                                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                         aria-labelledby="alertsDropdown">
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-secondary text-white">UnActive</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">Prev</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        

    </div>
    <div class="col-lg-4 mb-4 h-100">
        <div class="card">
            <div class="card-body">
                <partial name="MentorDetailPartial" model="@null"/>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}