@page
@model Index

@{
    Layout = "Shared/_LayoutAdmin";
}

<div class="row h-100 my-4">
<div class="col-lg-8">
<div class="card h-auto">
    <div class="d-inline-flex align-self-end m-2 ">
        <form class=" form-inline border rounded  mw-100 navbar-search mx-2 shadow-sm">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <button class="btn btn-primary" type="button">
            Create
        </button>
    </div>
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Skills</th>
    <th scope="col">Majors</th>
    <th scope="col">Points</th>
    <th scope="col">Avatar</th>
    <th scope="col">Status</th>
</tr>
</thead>
<tbody>
<tr role="button">
    <th scope="row">1</th>
    <td>Elite Admin</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>

    <td>
        <span class="badge bg-success text-white">Active</span>
    </td>

</tr>
<tr>
    <th scope="row">2</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
<tr>
    <th scope="row">3</th>
    <td>MedicalPro WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-success text-white">Active</span>
    </td>

</tr>
<tr>
    <th scope="row">4</th>
    <td>Hosting Press HTML</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-success text-white">Active</span>
    </td>
</tr>
<tr>
    <th scope="row">5</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
<tr>
    <th scope="row">6</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
<tr>
    <th scope="row">7</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
<tr>
    <th scope="row">8</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
<tr>
    <th scope="row">9</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
<tr>
    <th scope="row">10</th>
    <td>Real Homes WP Theme</td>
    <td>HostingPressHTML@gmail.com</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-list"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <small class="dropdown-item d-flex align-items-center text-muted me-3">Project Manager</small>
            </div>
        </div>
    </td>
    <td>150</td>
    <td>
        <div class="dropdown no-arrow text-center">
            <a class="dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-solid fa-image"></i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="me-3">
                        <img src="https://via.placeholder.com/150" alt="Transaction Image" width="150" height="150">
                    </div>
                </a>
            </div>
        </div>
    </td>
    <td>
        <span class="badge bg-secondary text-white">UnActive</span>
    </td>

</tr>
</tbody>
</table>
</div>
@* Pagination Navigaion *@
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">Prev</span>
            </a>
        </li>

        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">Next</span>
            </a>
        </li>
    </ul>
</nav>
</div>


</div>
<div class="col-lg-4 mb-4 h-100">
    <div class="card">
        <div class="card-body">
            <partial name="MentorDetailPartial" model="@null"/>
        </div>
    </div>
</div>
</div>

@section Scripts {
}